.home-book-item-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  max-width: 300px;
  text-align: center;
}

.home-book-item-div h3 {
  color: #334155;
  margin-bottom: 0;
  text-decoration: none;
}

.home-book-item-div p {
  margin: 0;
  color: #64748b;
  text-decoration: none;
}

.home-book-item-img-div {
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
}

.home-book-item-img-div img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
