.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: none;
  background-color: #f5f7fa;
  padding: 20px;
}

.footer-icons-div {
  display: flex;
  gap: 20px;
}
